.container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 350px;
  padding: 40px 0;
  width: calc(100vw - 50px);
  position: relative;
  height: calc(100vh - 90px);
}

button {
  background-color: var(--color-lightblue-shopper);
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  width: 100%;
  font-weight: 700;
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: 0.3s;

  &:enabled {
    cursor: pointer;

    &:hover {
      background-color: var(--color-blue-shopper);
    }
  }

  &:disabled {
    filter: opacity(0.5);
  }
}

.loader {
  margin-inline: auto;
}

.productsContainer {
  max-width: 358px;
  width: calc(100vw - 32px);
  margin-top: 20px;
  overflow: auto;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;

    &:hover {
      background-color: var(--cinza-claro);
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: calc(100vw - 400px);
    max-width: 1000px;
  }

  .productsContainer {
    max-width: 1008px;
    width: calc(100vw - 392px);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .buttons {
      width: 300px;
      margin-left: 100px;
    }
  }
}